.root {
    -fx-font-family: "Segoe UI", Arial;
    -fx-background-color: #1f2327;
    -fx-text-fill: #e8eef1;
}

.sidebar {
    -fx-background-color: #111417;
}

.heading {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #f1f5f8;
}

.list-cell {
    -fx-font-size: 14px;
    -fx-text-fill: #e8eef1;
}
